{% extends "nav.html" %}
{% load static %}
{% block title %}
aispacex login
{% endblock title %}

{% block style %}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .main {
        margin-top: 10rem;
        min-height: 100vh;
    }

        {
        % comment %
    }

    container {
        max-width: 1200px;
        padding: 0 1rem;
        margin: 0 auto;
    }

        {
        % endcomment %
    }

    .product-div {
        margin: 1rem 0;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #fff;
        border-radius: 3px;
        column-gap: 10px;
    }
</style>
{% endblock style %}



{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{request.user.email}}</span></h3>
            <div class="col-sm-3 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url "profile" %}" class="btn btn-primary">Profile</a>
                    </li>
                    <li class="d-grid">
                        <a href="{% url "address" %}" class="btn">Address</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 offset-sm-1">
                <div class="row">
                    {% for ad in add %}
                    <div class="col-sm-6">
                        <div class="card p-2 mb-2">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Locality: {{ad.locality}}</p>
                            <p>Mobile: {{ad.mobile}}</p>
                            <p>City: {{ad.city}}</p>
                            <p>State: {{ad.state}}</p>
                            <p>Pincode: {{ad.zipcode}}</p>
                            <p class="text-center"><a href="{% url "updateaddress" pk=ad.id %}" type="button" class="btn btn-success">Update</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}